/* Page container */
.product-container {
  padding: 30px;
  background-color: #f5f7fa;
  min-height: 100vh;
}

/* Heading */
.product-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Table styling */
.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

/* Table head */
.product-table thead th {
  text-align: left;
  padding: 14px;
  font-weight: 600;
  color: #34495e;
  background-color: #eef2f6;
}

/* Table body cells */
.product-table tbody td {
  padding: 14px;
  color: #2c3e50;
}

/* Remove table lines */
.product-table,
.product-table th,
.product-table td {
  border: none;
}

/* Row hover effect */
.product-table tbody tr:hover {
  background-color: #f1f5f9;
}

/* Actions column */
.action-btns {
  display: flex;
  gap: 10px;
}

/* Delete button */
.delete-btn {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  width: 70px;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #c0392b;
}
.edit-btn {
  background-color: #304bc6;
  border: none;
   width: 70px;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin: auto;
  transition: background-color 0.2s ease;
}

.edit-btn:hover {
  background-color: #24316d;
}


/* Page container */
.add-product-container {
  min-height: calc(100vh - 70px); /* below navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  padding: 20px;
}

/* Card */
.add-product-card {
  background-color: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Title */
.add-product-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Form */
.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Input fields */
.add-product-form input {
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #dcdfe3;
  outline: none;
  transition: border-color 0.2s ease;
}

.add-product-form input:focus {
  border-color: #253a4eff;
}

/* Button */
.add-product-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: #253a4eff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-product-btn:hover {
  background-color: #1d2f40;
}

.back-btn {
  background-color: #30c641;
  border: none;
   width: 70px;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin: auto;
  transition: background-color 0.2s ease;
  
  position: relative;
  margin: 10px;

}

.back-btn:hover {
  background-color: #246d39;
}